body {
    font-family: 'Vazirmatn', sans-serif;
}

/* header styles */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 64px;
}

nav ul {
    display: none;
}

nav a {
    text-decoration: none;
    color: black;
}

.btn {
    border: 0px;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
}

.btn-purple {
    color: #fff;
    background-color: #7c96f7;
}

nav a:active {
    color: #6c63ff;
}

.button-group {
    display: flex;
    gap: 8px;
    height: 54px;

}

.btn-outline-purple {
    color: #7c96f7;
    border: 2px solid #7c96f7;
    background-color: rgba(0, 0, 0, 0);
}

.card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: fit-content;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 0px 32px -8px rgba(50, 48, 48, 0.16);
}

.card-title {
    font-size: 20px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student-count {
    display: flex;
    align-items: center;
    gap: 4px;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0px 64px;
    justify-content: center;
}

.page-path {
    color: var(--dark, #323030);
    text-align: center;
    font-family: Vazirmatn;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.page-title {
    color: var(--purple, #6C63FF);
    text-align: center;
    font-family: Vazirmatn;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.page-title-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 64px;
}




@media only screen and (min-width:576px) {
    nav ul {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        gap: 32px;
    }

    header {
        margin-bottom: 108px;
    }

    .page-title-group {
        margin-bottom: 128px;
    }

}